body {
    background: black;
}

.play {
    text-align: center;
    align-items: center;
    background: #fff;
    height: 750px;
    margin-top: 100px;
    border-radius: 5px;
    padding: 20px;
    padding-top: 35px;
}

.play-row-inputs input {
    width: 90px;
    height: 90px;
    border: 7px solid #908d8d;
    border-radius: 12px;
    margin: 10px;
    margin-bottom: 12px;
    font-size: 60px;
    text-align: center;
    background: #494949;
    font-family: sans-serif;
    font-weight: normal;
}
.wordle-text {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.wordle-text p {
    font-size: 30px;
    color: black;
}
#cube h1 {
    color: beige;
    font-size: 20px;
    font-family: sans-serif;
}
